* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  height: 100%;
  overflow: auto; /* Ensure scrolling is enabled */
}

body {
  background: url(/bg.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard {
  width: 100%;
}

.dashboard-card {
  margin: 0.5rem;
}

p {
  color: #f0f8ff;
}

h1,
h2,
h3 {
  color: rgba(240, 248, 255, 0.8);
  font-weight: 400 !important;
}

/* Icon styles */
.github-icon,
.linkedin-icon {
  color: rgba(240, 248, 255, 0.5) !important;
  width: 32px !important;
  height: 32px !important;
  margin: 10px 6px 6px 10px !important;
}

.linkedin-icon:hover {
  color: #0a66c2 !important;
  transition: 0.3s ease-in;
}

.github-icon:hover {
  color: #e8e8e8 !important;
  transition: 0.3s ease-in;
}
