.results-list {
  background-color: #fff;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  z-index: 1;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for exact centering */
}
